<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>{{ movie.title }}</h1>
    <p>{{movie.genre.name}}</p>
    <p>{{movie.description}}</p>
    <hr>
    <form action="{% url 'movies:scores_new' movie.pk %}" method="POST">
        {% csrf_token %}
        {{ form.as_p }} 
        <input type="submit">
    </form>
    <p>{{ movie.score_avg }}</p>
    {% for score in scores %}
    <p>{{score.content}}</p>
    <p>{{score.score}}</p>
    <hr>
    {% endfor %}
</body>
</html>
