{% if request.resolver_match.url_name == 'create' %}
    <h1>영화 등록하기</h1>
{% else %}
    <h1>영화 수정하기</h1>
{% endif %}

<form method="POST"> 
    {% csrf_token %} 
    {{ form.as_p }} 
    <input type="submit" value="Submit"> 
</form>