<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {% for movie in movies %}
    <p><a href="{% url 'movies:detail' movie.pk %}">{{ movie.title }}</a></p>
    <p>{{ movie.score_avg }}</p>
    <img src="{{movie.poster_url}}">
    <hr>
    {% endfor %}
</body>
</html>